<app-header [title]="'Recepción'"></app-header>
<ion-content [fullscreen]="true" class="reception">
  <app-form-step
    [listItems]="menuFormStep"
    [currentIndexInForm]="indexStep"
    (indexCurrent)="currentIndexStepForm($event)"
  ></app-form-step>


  <div class="reception__layout" [ngSwitch]="indexStep">
    <!-- form index 0 -->
    <div class="reception__layout__0" *ngSwitchCase="0">
      <app-input-codebar
        [label]="'Escanear'"
        (codeBarRead)="getEquipmentByCodeBar($event)"
        placeholder="Toca para escanear código"
        srcIcon="assets/icon/barcode.png"
        typeInput="text"
      ></app-input-codebar>
      <app-input-general
        label="Equipo"
        [value]="''"
        [disable]="true"
        [value]="toolFindByCodeBar?.category?.name"
      ></app-input-general>
      <app-input-general
        label="Marca"
        [value]="''"
        [disable]="true"
        [value]="toolFindByCodeBar?.brand?.name"
      ></app-input-general>
      <app-input-general
        label="Referencia"
        [value]="''"
        [disable]="true"
        [value]="toolFindByCodeBar?.reference"
      ></app-input-general>
      <app-input-general
        label="Serie"
        [value]="''"
        [disable]="true"
        [value]="toolFindByCodeBar?.serial"
      ></app-input-general>
      <app-input-general
        label="Fecha de compra"
        [value]="''"
        [disable]="true"
        [value]="toolFindByCodeBar?.invoices?.pop()?.date?.split('T')[0]"
      ></app-input-general>
      <app-input-general
        label="Garantía"
        [value]="''"
        [disable]="true"
        [value]="toolFindByCodeBar?.invoices?.pop()?.warranty?.toString()"
      ></app-input-general>
    </div>

    <!-- form index 1 -->
    <div class="reception__layout__0" *ngSwitchCase="1">
      <app-input-general
        label="Procede de"
        [value]="''"
        [disable]="true"
      ></app-input-general>
      <app-input-general
        label="Motivo"
        [value]="''"
        [disable]="true"
      ></app-input-general>
      <app-input-general
        label="Envía"
        [value]="''"
        [disable]="true"
      ></app-input-general>
      <app-input-general
        label="Fecha estimada"
        [value]="''"
        [disable]="true"
      ></app-input-general>
      <app-capture-reader-nfc (userNfcValue)="handleUserNfc($event)"></app-capture-reader-nfc>
    </div>
    <button class="reception__layout__btngeneral" (click)="nextStep()">
      {{stepEnd ? 'Finalizar' : 'Continuar'}}
    </button>
  </div>
  </ion-content
>
