ion-title {
  text-align: center;
  color: var(--primary-color);
  font-weight: bold;
}

.headercustom {
  --background: linear-gradient(
    to bottom,
    var(--primary-color),
    var(--secondary-color)
  );
  ion-title,
  ion-menu-button,
  ion-back-button {
    color: white;
  }
}
