<app-header [title]="'Devolución de equipos'"></app-header>

<ion-content [fullscreen]="true">
  <app-form-step
    [listItems]="menuFormStep"
    [currentIndexInForm]="indexStep"
    (indexCurrent)="currentIndexStepForm($event)"
  ></app-form-step>

  <div class="return__layout" [ngSwitch]="indexStep">
    <!-- form index 0 -->

    <div class="return__layout__loan__0" *ngSwitchCase="0">
      <app-input-codebar
        (codeBarRead)="getEquipmentByCodeBar($event)"
        [label]="'Escanear'"
        placeholder="Escanear Código"
        srcIcon="assets/icon/barcode.png"
        typeInput="text"
      ></app-input-codebar>
      <app-card-detail-equipment
        [brand]="toolFindByCodeBar?.brand?.name"
        [categoryName]="toolFindByCodeBar?.category?.name"
        [reference]="toolFindByCodeBar?.reference"
        [serial]="toolFindByCodeBar?.serial"
        [isOwned]="true"
      ></app-card-detail-equipment>
    </div>

    <!-- form index 1 -->
    <div class="return__layout__loan__1" *ngSwitchCase="1">
      <!-- Entregado por -->
      <app-input-label-nfc
        [label]="'Entregado a'"
        srcIcon="assets/icon/nfc.svg"
        (nfcValue)="getUserByToken($event, 'received')"
      ></app-input-label-nfc>

      <!-- Entregado por -->
      <app-input-label-nfc
        [label]="'Entregado por'"
        srcIcon="assets/icon/nfc.svg"
        (nfcValue)="getUserByToken($event, 'delivery')"
      ></app-input-label-nfc>
      <app-input-general
        [label]="'Contratista'"
        typeInput="text"
        [value]="recivedByUser?.name?.first + recivedByUser?.name?.last"
      ></app-input-general>

      <div class="return__layout__loan__1__quan">
        <app-box-quantity
          label="Cantidad"
          (valueInput)="inputChange($event, 'quantity')"
          [value]="this.quantity?.toString()"
        ></app-box-quantity>
      </div>

      <div class="return__layout__loan__1__chk">
        <app-checkbox
          id="return-good"
          label="Bueno"
          [checked]="statusEquipment"
          (changeCheckBox)="changeCheckbox($event)"
        ></app-checkbox>
        <app-checkbox
          id="return-bad"
          label="Malo"
          [checked]="!statusEquipment"
          (changeCheckBox)="changeCheckbox($event)"
        ></app-checkbox>
      </div>
      <app-input-observations
        (valueInput)="inputChange($event, 'remark')"
        placeholder="Observación"
      ></app-input-observations>
    </div>

    <button (click)="nextStep()">{{stepEnd ? 'Entregar' : 'Continuar'}}</button>
    <button *ngIf="stepEnd" (click)="nextStep()">
      <ion-icon slot="start" name="mail-outline"></ion-icon> Enviar email
    </button>
  </div>
</ion-content>
