.return {
  width: 100%;
  height: 100%;
  &__layout {
    height: 90%;
    width: 100%;
    &__loan__0 {
      app-input-general,
      app-input-codebar {
        display: flex;
        margin: 10px;
        height: 140px;
        justify-content: center;
        align-items: center;
      }
      app-card-detail-equipment {
        display: flex;
        justify-content: center;
        height: 280px;
      }
    }
    &__loan__1 {
      app-input-general,
      app-input-label-nfc {
        display: flex;
        margin: 10px;
        height: 50px;
        justify-content: center;
        align-items: center;
      }
      app-input-observations {
        display: flex;
        width: 90%;
        margin: 0 auto;
        margin-bottom: 20px;
      }
      &__quan {
        position: relative;
        width: 100%;
        margin-top: 35px;
        margin-bottom: 35px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        app-box-quantity {
          float: left;
          display: flex;
          justify-content: center;
          width: 50%;
        }
      }
      &__chk {
        width: 100%;
        display: flex;
        height: 40px;
        app-checkbox {
          float: left;
          width: 50%;
        }
      }
    }
    button {
      background-color: var(--primary-color);
      font-weight: bold;
      color: white;
      width: 95%;
      height: 50px;
      border-radius: 5px;
      font-size: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      margin-top: 10px;
      ion-icon {
        margin-right: 5px;
      }
    }
  }
}
