<app-header [title]="'Ingreso'"></app-header>
<ion-content [fullscreen]="true" class="entry">
  <form [formGroup]="formEntry">
    <div class="entry__layout">
      <app-select-custom
        label="Proveedor"
        placeholder="Selecciona proveedor"
        [optionsList]="listSupplier"
        (selectItem)="updateField($event, 'remisionSupplierId')"
      ></app-select-custom>
      <app-input-general
        [label]="'Remisión'"
        typeInput="number"
        placeholder="Digite la remisión"
        (inputChange)="updateField($event, 'remisionNumber')"
        [value]="formEntry?.get('remisionNumber')?.value"
      ></app-input-general>

      <h6
        *ngIf="listAddedEquipments?.length > 0"
        class="entry__layout__subtitle"
      >
        Equipos Agregados
      </h6>
      <app-input-general
        *ngFor="let item of listAddedEquipments; let i = index"
        [label]="'Equipo'"
        [deleteBtn]="true"
        typeInput="text"
        (inputDelete)="deleteItem(i)"
        [disable]="true"
        [value]="currentCategory?.name + '-' + (listAddedEquipments?.length)?.toString()"
      ></app-input-general>

      <h6 class="entry__layout__subtitle">Ingrese equipo</h6>
      <app-input-codebar
        [label]="'Escanear'"
        placeholder="Toca para escanear categoría"
        [isCategory]="true"
        srcIcon="assets/icon/barcode.png"
        typeInput="text"
        (barcodeCategory)="handleCategory($event)"
      ></app-input-codebar>
      <app-input-general
        [label]="'Equipo'"
        typeInput="text"
        [disable]="true"
        [value]="currentCategory?.name"
      ></app-input-general>
      <app-input-general
        [label]="'Fecha de alquiler'"
        [isTypeDate]="true"
        placeholder="Digite fecha DD/MM/AAAA"
        (inputChange)="updateField($event, 'remisionRentedFrom')"
        [value]="formEntry?.get('remisionRentedFrom')?.value"
      ></app-input-general>
      <app-input-general
        [label]="'Cantidad'"
        typeInput="number"
        placeholder="Ingrese cantidad"
        (inputChange)="updateField($event, 'toolQuantity')"
        [value]="formEntry?.get('toolQuantity')?.value"
      ></app-input-general>
      <app-input-general
        [label]="'Alquiler días'"
        typeInput="number"
        placeholder="Ingrese alquiler estimado (días)"
        (inputChange)="updateField($event, 'remisionEstimatedRentalDays')"
        [value]="formEntry?.get('remisionEstimatedRentalDays')?.value"
      ></app-input-general>
      <app-input-general
        *ngIf="!currentCategory?.isUnit"
        [label]="'Identificador'"
        typeInput="text"
        placeholder="Ingrese identificador proveedor"
        (inputChange)="updateField($event, 'toolIdBySupplier')"
        [value]="formEntry?.get('toolIdBySupplier')?.value"
      ></app-input-general>
      <app-input-general
        [label]="'Precio por día'"
        typeInput="number"
        placeholder="Digite precio por día"
        (inputChange)="updateField($event, 'remisionDailyPrice')"
        [value]="formEntry?.get('remisionDailyPrice')?.value"
      ></app-input-general>
      <div class="entry__layout__add">
        <app-button-add (handleClick)="handleAdd()"></app-button-add>
      </div>
      <button class="entry__layout__btngeneral" (click)="save()">
        Guardar
      </button>
      <button (click)="sendEmail()" class="entry__layout__btngeneral">
        <ion-icon slot="start" name="mail-outline"></ion-icon> Enviar email
      </button>
    </div>
  </form>
</ion-content>
