<app-header [title]="'Mantenimiento'"></app-header>
<ion-content [fullscreen]="true" class="maintenance">
  <app-form-step
    [listItems]="menuFormStep"
    [currentIndexInForm]="indexStep"
    (indexCurrent)="currentIndexStepForm($event)"
  ></app-form-step>

  <div class="maintenance__layout" [ngSwitch]="indexStep">
    <!-- form index 0 -->
    <div class="maintenance__layout__0" *ngSwitchCase="0">
      <app-select-custom
        label="Proveedor"
        placeholder="Selecciona proveedor"
        [optionsList]="listSupplier"
      ></app-select-custom>
      <div class="maintenance__layout__0__quan">
        <app-box-quantity
          label="Fecha"
          (valueInput)="inputChange($event, 'quantity')"
        ></app-box-quantity>
        <app-box-quantity
          label="Factura"
          (valueInput)="inputChange($event, 'quantity')"
        ></app-box-quantity>
        <app-box-quantity
          label="Valor"
          (valueInput)="inputChange($event, 'quantity')"
        ></app-box-quantity>
      </div>
      <app-input-codebar
        [label]="'Escanear'"
        placeholder="Escanear Código"
        srcIcon="assets/icon/barcode.png"
        typeInput="text"
      ></app-input-codebar>
      <app-input-general
        [label]="'Equipo'"
        [disable]="true"
        typeInput="text"
      ></app-input-general>
      <app-input-general
        [label]="'Marca'"
        typeInput="text"
        [disable]="true"
      ></app-input-general>
      <app-input-general
        [label]="'Referencia'"
        typeInput="text"
        [disable]="true"
      ></app-input-general>
      <app-input-general
        [label]="'Serie'"
        typeInput="text"
        [disable]="true"
      ></app-input-general>

      <div class="maintenance__layout__0__chk">
        <app-checkbox
          id="reparation"
          label="Reparación"
          [checked]="typeMaintenance === 'reparation'"
          (changeCheckBox)="changeCheckbox($event)"
        ></app-checkbox>
        <app-checkbox
          id="maintenance"
          label="Mantenimiento"
          [checked]="typeMaintenance === 'maintenance'"
          (changeCheckBox)="changeCheckbox($event)"
        ></app-checkbox>
      </div>

      <app-input-general
        [label]="'Garantía'"
        typeInput="text"
        placeholder="Garantía (meses)"
      ></app-input-general>

      <app-input-general
        [label]="'Descontar a'"
        typeInput="text"
        placeholder="nombre"
      ></app-input-general>

      <app-input-general
        [label]="'Obsservaciones'"
        typeInput="text"
        placeholder="Digite observaciones"
      ></app-input-general>

      <app-input-general
        [label]="'Valor'"
        typeInput="text"
        placeholder="Digite valor"
      ></app-input-general>
    </div>

    <!-- form index 1 -->
    <div class="maintenance__layout__1" *ngSwitchCase="1">
      <app-input-general
        *ngFor="let item of listAddedEquipment"
        [label]="'Equipo'"
        typeInput="text"
        placeholder="Digite valor"
        [value]="item?.name"
      ></app-input-general>

      <div class="maintenance__layout__1__add">
        <app-button-add (handleClick)="addEquipment()"></app-button-add>
      </div>
    </div>
    <button class="maintenance__layout__btngeneral" (click)="nextStep()">
      {{stepEnd ? 'Entregar' : 'Continuar'}}
    </button>
    <button
      *ngIf="stepEnd"
      (click)="sendEmail()"
      class="maintenance__layout__btngeneral"
    >
      <ion-icon slot="start" name="mail-outline"></ion-icon> Enviar email
    </button>
  </div>
</ion-content>
