<app-header [title]="'Mantenimiento'"></app-header>
<ion-content [fullscreen]="true" class="maintenance">
  <app-form-step
    [listItems]="menuFormStep"
    [currentIndexInForm]="indexStep"
    (indexCurrent)="currentIndexStepForm($event)"
  ></app-form-step>

  <div class="maintenance__layout" [ngSwitch]="indexStep">
    <form [formGroup]="formMaintenance">
      <!-- form index 0 -->
      <div class="maintenance__layout__0" *ngSwitchCase="0">
        <app-select-custom
          label="Proveedor"
          placeholder="Selecciona proveedor"
          [optionsList]="listSupplier"
          (selectItem)="handleSelect($event)"
        ></app-select-custom>
        <div class="maintenance__layout__0__quan">
          <app-box-quantity
            label="Fecha"
            [value]="formMaintenance?.get('invoiceDate')?.value"
            (valueInput)="inputChange($event, 'invoiceDate')"
          ></app-box-quantity>
          <app-box-quantity
            label="Factura"
            (valueInput)="inputChange($event, 'invoiceNumber')"
            [value]="formMaintenance?.get('invoiceNumber')?.value"
          ></app-box-quantity>
          <app-box-quantity
            label="Valor"
            (valueInput)="inputChange($event, 'invoicePrice')"
            [value]="formMaintenance?.get('invoicePrice')?.value"
          ></app-box-quantity>
        </div>
        <app-input-codebar
          [label]="'Escanear'"
          placeholder="Escanear Código"
          srcIcon="assets/icon/barcode.png"
          typeInput="text"
          (codeBarRead)="readCodeBar($event)"
        ></app-input-codebar>
        <app-input-general
          [label]="'Equipo'"
          [disable]="true"
          typeInput="text"
          [value]="toolRead?.category?.name"
        ></app-input-general>
        <app-input-general
          [label]="'Marca'"
          typeInput="text"
          [disable]="true"
          [value]="toolRead?.brand?.name"
        ></app-input-general>
        <app-input-general
          [label]="'Referencia'"
          typeInput="text"
          [disable]="true"
          [value]="toolRead?.reference"
        ></app-input-general>
        <app-input-general
          [label]="'Serie'"
          typeInput="text"
          [disable]="true"
          [value]="toolRead?.serial"
        ></app-input-general>

        <div class="maintenance__layout__0__chk">
          <app-checkbox
            id="reparation"
            label="Reparación"
            [checked]="typeMaintenance === 'reparation'"
            (changeCheckBox)="changeCheckbox($event)"
          ></app-checkbox>
          <app-checkbox
            id="maintenance"
            label="Mantenimiento"
            [checked]="typeMaintenance === 'maintenance'"
            (changeCheckBox)="changeCheckbox($event)"
          ></app-checkbox>
        </div>

        <app-input-general
          [label]="'Garantía'"
          typeInput="text"
          placeholder="Garantía (meses)"
          (inputChange)="inputChange($event, 'invoiceWarranty')"
          [value]="formMaintenance?.get('invoiceWarranty')?.value"
        ></app-input-general>

        <app-input-general
          [label]="'Descontar a'"
          typeInput="text"
          placeholder="nombre"
        ></app-input-general>

        <app-input-general
          [label]="'Obsservaciones'"
          typeInput="text"
          (inputChange)="inputChange($event, 'remark')"
          placeholder="Digite observaciones"
          [value]="formMaintenance?.get('remark')?.value"
        ></app-input-general>

        <app-input-general
          [label]="'Valor'"
          typeInput="text"
          placeholder="Digite valor"
        ></app-input-general>
      </div>

      <!-- form index 1 -->
      <div class="maintenance__layout__1" *ngSwitchCase="1">
        <app-input-general
          *ngFor="let item of listAddedEquipment"
          [label]="'Equipo'"
          typeInput="text"
          placeholder="Digite valor"
          [value]="item?.tool"
        ></app-input-general>

        <div class="maintenance__layout__1__add">
          <app-button-add (handleClick)="addEquipment()"></app-button-add>
        </div>
      </div>
      <button class="maintenance__layout__btngeneral" (click)="nextStep()">
        {{stepEnd ? 'Entregar' : 'Continuar'}}
      </button>
      <button
        *ngIf="stepEnd"
        (click)="sendEmail()"
        class="maintenance__layout__btngeneral"
      >
        <ion-icon slot="start" name="mail-outline"></ion-icon> Enviar email
      </button>
    </form>
  </div>
</ion-content>
