<app-header [title]="'Entrega de equipos'"></app-header>

<ion-content [fullscreen]="true" class="delivery">
  <app-form-step
    [listItems]="menuFormStep"
    [currentIndexInForm]="indexStep"
    (indexCurrent)="currentIndexStepForm($event)"
  ></app-form-step>

  <form [formGroup]="formDelivery">
    <div class="delivery__layout" [ngSwitch]="indexStep">

      <!-- form index 0 -->
      <div class="delivery__layout__loan__0" *ngSwitchCase="0">
        <app-input-general
          (inputChange)="inputChange($event, 'codebar')"
          [isCodeBarInput]="true"
          [label]="'Escanear'"
          placeholder="Escanear Código"
          srcIcon="assets/icon/barcode.png"
          typeInput="text"
        ></app-input-general>
        <app-card-detail-equipment></app-card-detail-equipment>
      </div>

      <!-- form index 1 -->
      <div class="delivery__layout__loan__1" *ngSwitchCase="1">
        <app-input-general
          [label]="'Entregado a'"
          srcIcon="assets/icon/nfc.svg"
          typeInput="text"
        ></app-input-general>

        <app-input-general
          [label]="'Contratista'"
          typeInput="text"
        ></app-input-general>

        <div class="delivery__layout__loan__1__quan">
          <app-box-quantity label="Cantidad"></app-box-quantity>
          <app-box-quantity label="Días"></app-box-quantity>
        </div>

        <app-input-observations
          placeholder="Actividad"
        ></app-input-observations>
        <app-input-observations
          placeholder="Observación"
        ></app-input-observations>
      </div>

      <button (click)="nextStep()">
        {{stepEnd ? 'Entregar' : 'Continuar'}}
      </button>
    </div>
  </form>
</ion-content>
