.boxquantity {
  display: flex;
  justify-content: center;
  position: relative;
  label {
    position: absolute;
    top: -20px;
    color: var(--primary-color);
    font-weight: bold;
  }
  input {
    height: 60px;
    width: 70%;
    text-align: center;
    border: 1px solid var(--primary-color);
  }
}
