<app-header [title]="'Devolución'"></app-header>
<ion-content [fullscreen]="true">
  <div class="return">
    <app-select-custom
      label="Proveedor"
      [optionsList]="listSupplier"
      placeholder="Seleccione proveedor"
      (selectItem)="selectCustomer($event)"
    ></app-select-custom>
    <app-input-general
      label="N. Devolucion"
      placeholder="Ingrese devolucíon"
      (inputChange)="remision = $event"
    ></app-input-general>
    <h6 *ngIf="listAddedEquipments?.length > 0" class="return__subtitle">
      Equipos agregados
    </h6>
    <app-input-general
      *ngFor="let item of listAddedEquipments"
      [label]="'Equipo'"
      typeInput="text"
      [disable]="true"
      [value]="item?.category"
    ></app-input-general>

    <h6 class="return__subtitle">Ingrese equipo</h6>
    <app-input-codebar
      [label]="'Escanear'"
      [isCategory]="true"
      [isRegister]="false"
      placeholder="Tocar para leer categoria"
      srcIcon="assets/icon/barcode.png"
      typeInput="text"
      (barcodeCategory)="handleCodebar($event)"
    ></app-input-codebar>
    <app-input-general
      [label]="'Equipo'"
      typeInput="text"
      [disable]="true"
      [value]="lastMovementCategory?.category?.name"
    ></app-input-general>
    <app-input-general
      [label]="'Fecha'"
      typeInput="text"
      [isTypeDate]="true"
      [value]="currentDate"
      [disable]="true"
    ></app-input-general>

    <div class="return__quan">
      <app-box-quantity
        label="Cantidad disponible"
        [value]="available?.toString() || ''"
        [disabled]="true"
      ></app-box-quantity>
      <app-box-quantity
        label="Cantidad devolver"
        (valueInput)="handleInpput($event)"
        [value]="quantity || ''"
        [disabled]="categoryTool?.isUnit"
      ></app-box-quantity>
    </div>

    <app-capture-reader-nfc
      (userNfcValue)="handleNfc($event)"
    ></app-capture-reader-nfc>
    <div class="return__add">
      <app-button-add (handleClick)="addEquipment()"></app-button-add>
    </div>
    <button class="return__btngeneral" (click)="save()">Guardar</button>
    <button (click)="sendEmail()" class="return__btngeneral">
      <ion-icon slot="start" name="mail-outline"></ion-icon> Enviar email
    </button>
  </div>
</ion-content>
